spring:
  application:
    name: backend
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:sqlite:./backend/data/portal.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
