app:
  data-dir: ${APP_DATA_DIR:./data}
  avatar:
    dir: ${APP_DATA_DIR:./data}/avatar
    uri: /uploads/avatar
spring:
  application:
    name: backend
  docker:
    compose:
      enabled: false
  datasource:
    url: jdbc:sqlite:${app.data-dir}/portal.db
    driver-class-name: org.sqlite.JDBC
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.community.dialect.SQLiteDialect
        format_sql: true
  logging:
    level:
      org.hibernate.SQL: debug
      org.hibernate.orm.jdbc.bind: trace
  output:
    ansi:
      enabled: always