<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="DATA_DIR" source="app.data-dir"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <!-- Console logging -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>
                [%clr(%d{yyyy-MM-dd HH:mm:ss}){cyan}] %clr(%-5level) [%thread %clr(%-50logger{50}){magenta}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- File logging -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${DATA_DIR}/log/%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <MaxHistory>30</MaxHistory>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}] %-5level [%thread %-50logger{50}] - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Logging level -->
    <root level="debug">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>
</configuration>